@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

@theme {
  --color-Blue: hsl(233, 26%, 24%);
  --color-Green: hsl(136, 64%, 51%);
  --color-Cyan: hsl(192, 69%, 51%);

  --color-gray-600: hsl(233, 8%, 62%);
  --color-gray-100: hsl(220, 16%, 96%);
  --color-gray-50: hsl(0, 0%, 98%);

  --font-public-sans: 'Public Sans';

  --spacing-0: 0px;
  --spacing-100: 8px;
  --spacing-200: 16px;
  --spacing-300: 24px;
  --spacing-400: 32px;
  --spacing-500: 40px;
  --spacing-600: 48px;
  --spacing-700: 56px;
  --spacing-800: 64px;
  --spacing-900: 72px;
  --spacing-1000: 80px;
  --spacing-1500: 1200px;
}
/* 
.text-preset-1 {
  font-size: 56px;
  line-height: 120%;
  letter-spacing: -1px;
  font-weight: 300;
}

.text-preset-2 {
  font-size: 40px;
  line-height: 120%;
  letter-spacing: -0.75px;
  font-weight: 300;
}

.text-preset-3 {
  font-size: 32px;
  line-height: 120%;
  letter-spacing: -0.5px;
  font-weight: 300;
}

.text-preset-4 {
  font-size: 24px;
  line-height: 115%;
  letter-spacing: -0.4px;
  font-weight: 300;
}

.text-preset-5 {
  font-size: 18px;
  line-height: 155%;
  letter-spacing: -0.25px;
  font-weight: 400;
}

.text-preset-6 {
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -0.25px;
  font-weight: 300;
}

.text-preset-7 {
  font-size: 14px;
  line-height: 115%;
  letter-spacing: 0px;
  font-weight: 400;
}

.text-preset-7-bold {
  font-size: 14px;
  line-height: 200%;
  letter-spacing: 0px;
  font-weight: 700;
}

.text-preset-8 {
  font-size: 10px;
  line-height: 115%;
  letter-spacing: 0px;
  font-weight: 400;
} */

.gradient-1 {
  background-image: linear-gradient(to bottom, hsl(136, 64%, 51%), hsl(192, 69%, 51%));
}

.gradient-2 {
  background-image: linear-gradient(hsl(231, 26%, 24%), white);
}

@layer components {
  .text-preset-1 {
    @apply text-[56px] leading-[120%] tracking-[-1px] font-light;
  }

  .text-preset-2 {
    @apply text-[40px] leading-[120%] tracking-[-0.75px] font-light;
  }

  .text-preset-3 {
    @apply text-[32px] leading-[115%] tracking-[-0.5px] font-light;
  }

  .text-preset-4 {
    @apply text-[24px] leading-[115%] tracking-[-0.4px] font-light;
  }

  .text-preset-5 {
    @apply text-[18px] leading-[155%] tracking-[-0.25px] font-normal;
  }

  .text-preset-6 {
    @apply text-[16px] leading-[120%] tracking-[-0.25px] font-light;
  }

  .text-preset-7 {
    @apply text-[14px] leading-[115%] tracking-[0px] font-normal;
  }

  .text-preset-7-bold {
    @apply text-[14px] leading-[200%] tracking-[0px] font-bold;
  }

  .text-preset-8 {
    @apply text-[10px] leading-[115%] tracking-[0px] font-normal;
  }

  @media (min-width: 768px) {
    .md\:text-preset-1 {
      @apply text-[56px] leading-[120%] tracking-[-1px] font-light;
    }

    .md\:text-preset-2 {
      @apply text-[40px] leading-[120%] tracking-[-0.75px] font-light;
    }

    .md\:text-preset-3 {
      @apply text-[32px] leading-[115%] tracking-[-0.5px] font-light;
    }

    .md\:text-preset-4 {
      @apply text-[24px] leading-[115%] tracking-[-0.4px] font-light;
    }

    .md\:text-preset-5 {
      @apply text-[18px] leading-[155%] tracking-[-0.25px] font-normal;
    }

    .md\:text-preset-6 {
      @apply text-[16px] leading-[120%] tracking-[-0.25px] font-light;
    }

    .md\:text-preset-7 {
      @apply text-[14px] leading-[115%] tracking-[0px] font-normal;
    }

    .md\:text-preset-7-bold {
      @apply text-[14px] leading-[200%] tracking-[0px] font-bold;
    }

    .md\:text-preset-8 {
      @apply text-[10px] leading-[115%] tracking-[0px] font-normal;
    }
  }
  @media (min-width: 1024px) {
    .lg\:text-preset-1 {
      @apply text-[56px] leading-[120%] tracking-[-1px] font-light;
    }

    .lg\:text-preset-2 {
      @apply text-[40px] leading-[120%] tracking-[-0.75px] font-light;
    }
    .lg\:text-preset-3 {
      @apply text-[32px] leading-[115%] tracking-[-0.5px] font-light;
    }

    .lg\:text-preset-4 {
      @apply text-[24px] leading-[115%] tracking-[-0.4px] font-light;
    }

    .lg\:text-preset-5 {
      @apply text-[18px] leading-[155%] tracking-[-0.25px] font-normal;
    }

    .lg\:text-preset-6 {
      @apply text-[16px] leading-[120%] tracking-[-0.25px] font-light;
    }

    .lg\:text-preset-7 {
      @apply text-[14px] leading-[115%] tracking-[0px] font-normal;
    }

    .lg\:text-preset-7-bold {
      @apply text-[14px] leading-[200%] tracking-[0px] font-bold;
    }

    .lg\:text-preset-8 {
      @apply text-[10px] leading-[115%] tracking-[0px] font-normal;
    }
  }
}
